.dao-blueprint {
  h3 {
    text-transform: uppercase;
    padding-top: $space-standard;
    font-size: 2.4rem;
  }

  h4 {
    text-transform: uppercase;
    padding-top: $space-micro;
  }

  p {
    text-indent: 1em;
  }
}