.integrations {
  .carousel {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    width: 100%;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    & {
      scrollbar-face-color: transparent;
      scrollbar-track-color: transparent;
    }
  }

  .left, .right {
    display: block;
    position: absolute;
    top: 38%;
    left: -1em;
    font-size: 2em;
    height: 1.5em;
    width: 1.5em;
    color: var(--color-text);
    opacity: 0.3;
    transition: opacity 0.25s;

    &:hover {
      opacity: 0.7;
    }

    @media (max-width: $responsive-mobile-browser-width) {
      left: 30%;
      top: 100%
    }
  }

  .right {
    left: auto;
    right: -1.5em;
    @media (max-width: $responsive-mobile-browser-width) {
      right: 30%;
    }
  }

  .integration {
    scroll-snap-align: start;
    position: relative;
    min-height: 50vh;
    flex: 0 0;
    width: 20.5vw;
    margin: 0 1vw;
    height: 100%;

    @media (max-width: $screen-xl) {
      width: 27.5vw;
    }

    @media (max-width: $screen-hd) {
      width: 42vw;
    }

    @media (max-width: $responsive-mobile-browser-width) {
      width: 86vw;
      margin: 0 4vw;
      scroll-snap-align: center;
    }

    h2 {
      font-size: 2.6em;
      margin: 0.4em 0 0.2em;
      transform: scaleY(140%);

      @media (max-width: $responsive-mobile-browser-width) {
        font-size: 2.2em;
        letter-spacing: -0.02em;
      }

      a {
        color: var(--color-text);
      }
    }

    p {
      opacity: 0.9;
    }
  }

  .integration-bg {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    z-index: -1;
    opacity: 0.2;
    max-width: 40%;
    height: 10%;
  }
}